body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(45, 45, 45, 0.03);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.header {
  background-color: white;
}

.header-items {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  float: left;
}

.user-icon {
  float: right;
  display: flex;
  justify-content: center;
  width: 10%;
  margin-top: 15px;
}

.main-div {
  display: flex;
  flex-direction: column;
}

.select {
  display: flex;
  align-items: center;
}

.cms {
  color: #507bff;
  font-weight: 700;
  font-size: 20px;
}

.books {
  display: flex;
  align-items: center;
}

.books p {
  font-size: 12px;
}

.category {
  margin-right: 20px;
}

.fa-user-o {
  color: #507bff;
  border: 2px solid rgb(141, 136, 136);
  padding: 10px;
  border-radius: 50%;
  font-weight: 700;

}